@import "tailwindcss";

@variant dark (&:where(.dark, .dark *, [data-theme="dark"], [data-theme="dark"] *));

@theme {
  /* Colors */
  --color-primary: #323956;
  --color-secondary: #637381;
  --color-brand-blue: #0000F6;
  --color-brand-blue-hover: #0000D0;

  /* Font Family */
  --font-sans: var(--font-dm-sans), sans-serif;
  --font-dm-sans: var(--font-dm-sans), sans-serif;
}

:root {
  --bg-app: #F8FAFC;
  --bg-card: #FFFFFF;
  --bg-card-secondary: #F3F4F6;
  --text-main: #111827;
  --text-muted: #6B7280;
  --border-color: #E5E7EB;
}

.dark {
  --bg-app: #0B0F19;
  --bg-card: #151B2B;
  --bg-card-secondary: #1E2638;
  --text-main: #F9FAFB;
  --text-muted: #9CA3AF;
  --border-color: #1F293D;
}

body {
  font-family: var(--font-dm-sans), sans-serif;
  background-color: var(--bg-app);
  color: var(--text-main);
  transition: background-color 0.25s ease, color 0.25s ease;
}

.container {
  @apply max-w-415 mx-auto px-4 md:px-5 xl:px-12 2xl:px-5;
}


/* -------------------------------------------------- */
/*      SECTION PADDING CLASSES FOR MOBILE-FIRST        */
/* -------------------------------------------------- */

.section-padding-x {
  padding-left: 1rem;
  padding-right: 1rem;
}
.section-padding-y {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

@media screen and (min-width: 650px) {
  .section-padding-x {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .section-padding-y {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .section-padding-x {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .section-padding-y {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 1460px) {
  .section-padding-x {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
  .section-padding-y {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}



/* Custom Ultra-Thin Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #080a0d;
}
::-webkit-scrollbar-thumb {
  background: #232d3b;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #323956;
}
